.header {
    background-color: #5b94fd;
    padding: 20px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    font-size: 30px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}