.alert_success {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  width: 150px;
  position: absolute;
  top: 230px;
  right: 2%;
  border-radius: 20px;
}
.alert_error {
  background-color: #f44336;
  color: white;
  padding: 10px;
  width: 150px;
  position: absolute;
  top: 230px;
  right: 2%;
  border-radius: 20px;
}